<!DOCTYPE html>
<html lang="en"	xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>在线作业管理后台记作业管理</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <link rel="stylesheet" href="assets/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/4.0.0/css/bootstrap.css}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="assets/css/ready.css" th:href="@{/assets/css/ready.css}">
    <link rel="stylesheet" href="assets/css/demo.css" th:href="@{/assets/css/demo.css}">
</head>
<body>
<div class="wrapper">
    <!--header-->
    <div th:replace="commons/bar::header"></div>

    <!--slidebar-->
    <div th:replace="commons/bar::#sidebar(activeUri='/homework/getAllRecord')"></div>

    <!--main panel-->
    <div class="main-panel">
        <div class="content">
            <div class="container-fluid">
                <h4 class="page-title">家庭作业管理</h4>
                <div class="row">
                    <div class="col-md-2"> </div>
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <button id="addHomeWork" class="btn btn-sm btn-default">添加</button>
                                <table class="table table-head-bg-success">
                                    <thead>
                                    <tr>
                                        <th scope="col">编号</th>
                                        <th scope="col">课程名</th>
                                        <th scope="col">作业标题</th>
                                        <th scope="col">作业内容</th>
                                        <th scope="col">操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="homwork,ras:${homeWorks}">
                                        <td th:text="${ras.count}"></td>
                                        <td th:text="${homwork.subjectName}"></td>
                                        <td th:text="${homwork.homeWorkTitle}"></td>
                                        <td th:text="${homwork.homeWorkContent}"></td>
                                        <td>
                                            <button th:attr="del_uri=@{/homework/jump2read/}+${homwork.id}" class="btn btn-sm btn-default see">批阅</button>
                                            <button th:attr="del_uri=@{/homework/showAllComment/}+${homwork.id}" class="btn btn-sm btn-default comment">评论</button>
                                            <button th:attr="del_uri=@{/homework/deleteRecore/}+${homwork.id}" class="btn btn-sm btn-danger deleteBtn">删除</button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--footer-->
        <div th:replace="commons/bar::footer"></div>
    </div>
</div>
//删除表单
<form id="deleteClasseForm" method="post">
    <input type="hidden" name="_method" value="delete">
</form>
<!--映入jclary，src-->
<script src="assets/js/core/jquery.3.2.1.min.js" th:src="@{/webjars/jquery/3.2.1/jquery.js}"></script>
<script th:src="@{/webjars/layer/src/layer.js}"></script>
<script>
    //删除指定id试题
    $(".deleteBtn").click(function () {
        //获取uri
        // $(this).attr("del_uri")
        //提交表单
        // $("#deleteClasseForm").attr("action",$(this).attr("del_uri")).submit();
        if(confirm("确实要删除吗？")){
            //提交表单
            $("#deleteClasseForm").attr("action",$(this).attr("del_uri")).submit();
            layer.msg("删除成功", {time:2000, icon:6});
        }else {
            layer.msg("删除取消", {time:2000, icon:5, shift:6});
        }
        return false;
    });

    //阅览画面跳转
    $(".see").click(function () {
        window.location.href = $(this).attr("del_uri");
    });

    //评论画面跳转画面跳转
    $(".comment").click(function () {
        window.location.href = $(this).attr("del_uri");
    });



    //到添加画面
    $("#addHomeWork").click(function () {
        window.location.href = "/homework/addHomeWork";
    });

</script>

</body>
</html>
