<!DOCTYPE html>
<html lang="en"	xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>学生作业管理系统后台学生管理</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <link rel="stylesheet" href="assets/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/4.0.0/css/bootstrap.css}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="assets/css/ready.css" th:href="@{/assets/css/ready.css}">
    <link rel="stylesheet" href="assets/css/demo.css" th:href="@{/assets/css/demo.css}">
</head>
<body>
<div class="wrapper">
    <!--header-->
    <div th:replace="commons/bar::header"></div>

    <!--slidebar-->
    <div th:replace="commons/bar::#sidebar(activeUri='/subject/findAllSubject')"></div>

    <!--main panel-->
    <div class="main-panel">
        <div class="content">
            <div class="container-fluid">
                <h4 th:if="${id != null }" class="page-title">课程更新画面</h4>
                <h4 th:if="${id == null }" class="page-title">课程添加画面</h4>
                <div class="col-md-6">
                    <form th:action="@{/subject/doeditSubject}" method="put">
                        <input type="hidden" name="id" th:value="${id}">
                        <div class="card">
                            <div class="card-body">
                                <div class="form-group">
                                    <label for="name">课程名</label>
                                    <input type="text" class="form-control" id="name" name="subjectName" th:value="${subjectName}" placeholder="课程名">
                                </div>
                                <div class="form-group">
                                    <label for="name">课程详细</label>
                                    <input type="text" class="form-control" id="account" name="subjectDesp" th:value="${subjectDesp}" placeholder="课程详细">
                                    <small id="accounthelp" class="form-text text-muted"></small>
                                </div>
                            </div>
                            <div class="card-action">
                                <button class="btn btn-success">Submit</button>
                                <button class="btn btn-danger">Cancel</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!--footer-->
        <div th:replace="commons/bar::footer"></div>
</div>
</div>
</body>
<script src="assets/js/core/jquery.3.2.1.min.js" th:src="@{/webjars/jquery/3.2.1/jquery.js}"></script>
//显示密码
<script>
    $(".showpwd").click(function () {
        $("#password").attr("type","text");
        return false;
    })
</script>

</html>
