<!DOCTYPE html>
<html lang="en"	xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <title>学生作业管理系统</title>
    <!-- Bootstrap core CSS -->
    <link href="#" th:href="@{/webjars/bootstrap/4.0.0/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
<div class="container">

    <!--examnav-->
    <div th:replace="commons/bar::#examnav(activeUri='/exam/toExam')"></div>

    <div class="main-panel">
        <div class="content">
            <div class="container-fluid">
                <h4 class="page-title">评论一览</h4>
                <div class="col-md-6">
                    <!-- 评论一览 -->
                    <div class="card">
                        <div class="card-body">
                            <table class="table table-head-bg-success">
                                <thead>
                                <tr>
                                    <th scope="col">编号</th>
                                    <th scope="col">评论标题</th>
                                    <th scope="col">评论内容</th>
                                    <th scope="col">身份</th>
                                    <th scope="col">用户名</th>
                                    <th scope="col">操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="comment:${readcomments}">
                                    <td th:text="${comment.id}"></td>
                                    <td th:text="${comment.commentTitle}"></td>
                                    <td th:text="${comment.commentContent}"></td>
                                    <td th:text="${comment.commentUserType}"></td>
                                    <td th:text="${comment.commentUserName}"></td>
                                    <td>
                                        <button th:attr="del_uri=@{/comment/deleteRecorest/}+${comment.id}" class="btn btn-sm btn-danger deleteBtn">删除</button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <hr>
                    <form th:action="@{/comment/addStuComment}" method="post">
                        <div class="card">
                            <div class="card-body">
                                <input type="hidden" name="homeworkId" th:value="${homeworkId}">
                                <div class="form-group">
                                    <label for="commentTitle">评论标题</label>
                                    <input type="text" class="form-control" id="commentTitle" name="commentTitle" placeholder="评论标题">
                                </div>
                                <div class="form-group">
                                    <label for="commentContent">评论内容</label>
                                    <input type="text" class="form-control" id="commentContent" name="commentContent" placeholder="评论内容">
                                </div>
                            </div>
                        </div>
                        <div class="card-action">
                            <button class="btn btn-success" th:text="添加"></button>
                        </div>
                    </form>
                </div>
            </div>
            <hr>


            <div class="container-fluid">
                <h4 class="page-title">作业提交一览</h4>
                <div class="col-md-6">
                    <table class="table table-head-bg-success">
                        <thead>
                        <tr>
                            <th scope="col">编号</th>
                            <th scope="col">作业标题</th>
                            <th scope="col">作业内容</th>
                            <th scope="col">文件</th>
                            <th scope="col">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="answer:${homeWorkAnswers}">
                            <td th:text="${answer.id}"></td>
                            <td th:text="${answer.answerTitle}"></td>
                            <td th:text="${answer.answerContent}"></td>
                            <td> <a th:href="@{/filedownload?path=}+${answer.homeWorkFilePath}" target="_blank">文件下载</a></td>
                            <td>
                                <button th:attr="del_uri=@{/answer/deleteRecorest/}+${answer.id}" class="btn btn-sm btn-danger deleteBtn">删除</button>
                                <button th:attr="send_uri=@{/exam/teachaercomment/}+${answer.id}" class="btn btn-sm btn-default pingjia">查看评价</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <hr>
                    <form th:action="@{/homework/addHomeWorkAnswer}" method="post" enctype="multipart/form-data">
                        <div class="card">
                            <div class="card-body">
                                <input type="hidden" name="homeworkId" th:value="${homeworkId}">
                                <div class="form-group">
                                    <label for="answerTitle">作业标题</label>
                                    <input type="text" class="form-control" id="answerTitle" name="answerTitle" placeholder="作业标题">
                                </div>
                                <div class="form-group">
                                    <label for="answerContent">作业内容</label>
                                    <input type="text" class="form-control" id="answerContent" name="answerContent" placeholder="作业内容">
                                </div>
                                <div class="form-group">
                                    <label for="answerContent">作业文件</label>
                                    <input type="file" class="form-control" id="file" name="file" placeholder="作业文件">
                                </div>
                            </div>
                        </div>
                        <div class="card-action">
                            <button class="btn btn-success" th:text="添加"></button>
                        </div>
                    </form>
                </div>
            </div>


        </div>
    </div>

    <!--footer-->
    <div th:replace="commons/bar::footer"></div>
</div> <!-- /container -->
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<!--//删除表单-->
<form id="deleteClasseForm" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="hidden" name="homeworkId" th:value="${homeworkId}">
</form>

<form id="updaeForm" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="hidden" name="homeworkId" th:value="${homeworkId}">
</form>
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
<script src="assets/js/core/jquery.3.2.1.min.js" th:src="@{/webjars/jquery/3.2.1/jquery.js}"></script>
<script>
    //删除指定id试题
    $(".deleteBtn").click(function () {
        //获取uri
        // $(this).attr("del_uri")
        //提交表单
        // $("#deleteClasseForm").attr("action",$(this).attr("del_uri")).submit();
        if(confirm("确实要删除吗？")){
            //提交表单
            $("#deleteClasseForm").attr("action",$(this).attr("del_uri")).submit();
            layer.msg("删除成功", {time:2000, icon:6});
        }else {
            layer.msg("删除取消", {time:2000, icon:5, shift:6});
        }
        return false;
    });

    $(".pingjia").click(function () {
        //获取uri
        // $(this).attr("del_uri")
        //提交表单
        // $("#deleteClasseForm").attr("action",$(this).attr("del_uri")).submit();
        if(confirm("确定查看？")){
            //提交表单
            $("#updaeForm").attr("action",$(this).attr("send_uri")).submit();

        }else {

        }
        return false;
    });
</script>
</body>
</html>
